@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato');

// bulma variables
$family-sans-serif: 'Lato';

// my variables
$break-width: 350px;

#top-container {
    @media screen and (min-width: $break-width) {
        width: $break-width;
      }
}

#rows-shown-input {
    width: 2rem;
}

@import "./node_modules/bulma/bulma.sass";